<h1>Admin Panel</h1>

<p>This admin-only page will be an easy way for me to moderate the site:</p>

<ul>
<li>Remove offensive fuNFTs</li>
<li>Remove offensive messages</li>
<li>Ban Player Accounts</li>
<li>Approve new player accounts</li>
<li>Add fuNFTs to Featured</li>
</ul>
